@import "tailwindcss";
@import 'react-loading-skeleton/dist/skeleton.css';

.speaker_shape {
  width: 800px;
  height: 500px;
  object-fit: cover;
  
  /* Mask Image for Polygon with Rounded Corners */
  -webkit-mask-image: url('/src/assets/Speaker_polygon.svg'); /* Chrome, Safari, Edge */
  mask-image: url('/src/assets/Speaker_polygon.svg');

  /* Ensure the mask covers the whole image */
  -webkit-mask-size: cover;
  mask-size: cover;

  /* Apply smooth rounded corners */
  border-radius: 20px; 
}
